body {
    height: 100vh;
    margin: 0;
    background-color: rgb(221, 228, 234);
}

header {
    display: flex;
    height: 10%;
    justify-content: space-between;
    align-items: center;
    padding: 0.625em;
    background-color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 3.125em;
    margin-left: 4.375em;
}

.btn {
    display: flex;
    align-items: center;
    margin-right: 2em;
}

.btn .btnForm {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3ad4e2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn .btnForm:hover {
    background-color: #0056b3;
}

/*Btn Regresar*/
.btnReturn {
    margin-top: 3.5em;
    margin-left: 5em;
}
.btnRegresar {
    background-color: #00ADEF;
    color: white;
    padding: 0.5em 0.5em;
    border-radius: 0.5em;
    width: 8em;
    cursor: pointer;
    text-decoration: none;
} 

/*Contenedor general*/
.containerInfo {
    width: 50%;
    height: 28.5em;    
    margin-left: 21.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3.125em;
    box-shadow: 0 0 1.25em rgba(0, 0, 0, 0.2);
    border-radius: 0.938em;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Contenedor Información de consulta*/
.infoConsulta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Diseño contenedor Uno Consulta*/

.containerInfo .infoUno {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerInfo .infoUno .nameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5.5em ;
}

.containerInfo .infoUno .nameContainer p{
    margin-left: 0.5em;
}

.containerInfo .infoUno .edadContainer input {
    padding: 1.063em 0.688em;
    border: 0.063em solid #00adef;
    border-radius: 1.563em;
    background-color: #fafafc;
    outline: none;
}

.containerInfo .infoUno .fechaContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5.5em ;
}

.containerInfo .infoUno .fechaContainer p{
    margin-left: 0.5em;
}

/*Diseño contenedor diagnostico Consulta*/

.containerInfo .infoDos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45em;
}

.containerInfo .infoDos .diagContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.containerInfo .infoDos .diagContainer input {
    padding: 1.063em 0.688em;
    border: 0.063em solid #00adef;
    border-radius: 1.563em;
    background-color: #fafafc;
    outline: none;
}

/*Contenedor Información de receta*/
.infoReceta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.containerInfo .infoUnoR {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
} 

.containerInfo .infoDosR {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
} 

/*Contenedor Información de receta estructura 3*/
.containerInfo .infoTresR {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45em;
}

/*Contenedor Información de receta Uno*/
.containerInfo .infoUnoR .taContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5.5em;
}

.containerInfo .infoUnoR .fcContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Contenedor Información de receta Dos*/
.containerInfo .infoDosR .frContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5.5em;
}

.containerInfo .infoDosR .tempContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Contenedor Información de receta Tres*/
.containerInfo .infoTresR .pesoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5.5em;
}

.containerInfo .infoTresR .tallaContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Inputs Recetas*/
.infoReceta input {
    padding: 1.063em 0.688em;
    border: 0.063em solid #00adef;
    border-radius: 1.563em;
    background-color: #fafafc;
    outline: none;
    margin-left: 0.5em;
}

/*Botón para guardar*/
.btnAceptar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.btnAddCons {
    padding: 0.625em 0.75em;
    font-size: 1em;
    background-color: #3ad4e2;
    color: #fff;
    border: none;
    border-radius: 0.313em;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
}

.btnAddCons:hover {
    background-color: #0056b3;
}


