<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <link rel="stylesheet" href="../css/index.css">
    <title>Consultas</title>
  </head>

  <body>

    <header>
      <div class="logo">
        <img src="../img/icono.png" alt="Logo de prueba" class="logo-img">
      </div>
    </header>

    <div class="containerForm">
      <form id="login-form">
      
        <h2 class=""> Ingresar </h2>
      
        <div class="containerPassword">
          <label for="password">Password</label>
          <input type="password" id="password">
        </div>
    
      </form>

      <div class="containerBtn">
        <button class="btnInicio" id="btnAccept">Aceptar</button>
      </div>

    </div>

    <script src="../js/registro.js"></script>

  </body>

</html>